<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my first template</title>
</head>
<script>
function toDay(d) {
window.location = d
}
</script>
<body>
<table>
    <tbody>
    <tr>
        <td>
            <button onclick="toDay('{% url 'detail' yesterday %}')"> &lt;&lt; </button>
        </td>
        <td><h3> Schedule for: {{ today }} - {{ day_of_week }} </h3>
        <button onclick="toDay('{% url 'index' %}')"> today </button>
        </td>
        <td>
            <button onclick="toDay('{% url 'detail' tomorrow %}')"> &gt;&gt; </button>
        </td>
    </tr>
    </tbody>
</table>

<table border="0" cellspacing="0" cellpadding="4">
    <thead>
    <tr>
        <th>Time of day</th>
        <th> Activity</th>
    </tr>
    {% for activity in activity_list %}
    {% if activity.time_slot.description == current %}
    <tr>
        <td style="border: 1px solid black;">
            <b> {{activity.time_slot.description}}  </b>
        </td>
        <td style="border: 1px solid black;">
            <b> {{activity.description}} </b>
        </td>
    </tr>
    {% else %}
    <tr>
        <td>
            {{activity.time_slot.description}}
        </td>
        <td>
            {{activity.description}}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </thead>
</table>
<br>
<table>
    <thead>
    <tr>
        <th>Time</th>
        <th>Menu</th>
    </tr>
    {% for menu_entry in menu_entries %}
        <tr>
        <td>
            {{menu_entry.entry_time.description}}
        </td>
        <td>
            {{menu_entry.entry}}
        </td>
    </tr>
    {% endfor %}
    </thead>
</table>
</body>
</html>